In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [3]:
df["Age"].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
882    False
883    False
884    False
885    False
886    False
Name: Age, Length: 887, dtype: bool

In [4]:
df["Age"].isnull().count()

np.int64(887)

In [5]:
df1 = pd.read_csv("synthetic_dataset.csv")
df1.head()

  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

In [14]:
df1["Category"].isnull().sum()

np.int64(2748)

In [7]:
df1["Category"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4362 entries, 0 to 4361
Series name: Category
Non-Null Count  Dtype
--------------  -----
1614 non-null   object
dtypes: object(1)
memory usage: 34.2+ KB

In [15]:
a=df1["Rating"].isnull().sum()
a

np.int64(2050)

In [19]:
df1["Stock"].isnull().sum()

np.int64(1352)

In [20]:
df2 = pd.read_csv("car_prices.csv")
df2.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [23]:
df2["milage"].between(100_000, 70_000)

0        False
1        False
2        False
3        False
4        False
         ...
54268    False
54269    False
54270    False
54271    False
54272    False
Name: milage, Length: 54273, dtype: bool

In [29]:
df2[df2["milage"].between(70_000, 100_000)]

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
8,8,Audi,A3 2.0T Tech Premium,2016,87842,Gasoline,200.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,7-Speed A/T,Silver,Black,None reported,Yes,13999
11,11,Chevrolet,Tahoe Premier,2017,92728,Gasoline,355.0HP 5.3L 8 Cylinder Engine Gasoline Fuel,A/T,Silver,Silver,None reported,Yes,49900
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54252,54252,Land,Rover Range Rover Sport Supercharged HSE,2015,99915,Gasoline,340.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,None reported,Yes,26500
54258,54258,RAM,1500 Longhorn,2019,76249,Gasoline,5.7L V8 16V MPFI OHV,6-Speed Automatic,Diamond Black,Mountain Brown,At least 1 accident or damage reported,Yes,40995
54261,54261,Toyota,Highlander SE,2017,92000,Gasoline,295.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Gray,Beige,At least 1 accident or damage reported,Yes,30000
54262,54262,Jeep,Grand Cherokee Laredo,2011,98658,Gasoline,360.0HP 5.7L 8 Cylinder Engine Gasoline Fuel,A/T,White,Gray,None reported,Yes,7200
54269,54269,Audi,A4 2.0T Premium,2015,94634,E85 Flex Fuel,220.0HP 2.0L 4 Cylinder Engine Flex Fuel Capab...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,6500

In [ ]:
df2[df2["model_year"].isin([2018])].sort_values("price")

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
22020,22020,Audi,Q7 3.0T Prestige,2018,108000,Gasoline,333.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,8-Speed A/T,Gray,Black,None reported,Yes,2990
46348,46348,Volvo,XC90 T6 Momentum,2018,120000,Gasoline,316.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,4700
31788,31788,Volvo,XC90 T6 Momentum,2018,106000,Gasoline,316.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,White,Beige,At least 1 accident or damage reported,Yes,4900
223,223,Audi,A3 2.0T Premium,2018,118500,Gasoline,220.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Silver,Black,None reported,Yes,5800
5151,5151,Mercedes-Benz,S-Class S 560 4MATIC,2018,87500,Gasoline,463.0HP 4.0L 8 Cylinder Engine Gasoline Fuel,A/T,Black,Beige,None reported,Yes,6499
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32223,32223,Rolls-Royce,Phantom,2018,1795,Gasoline,6.8L V12 48V GDI DOHC Twin Turbo,8-Speed Automatic,–,–,None reported,Yes,599000
39741,39741,BMW,M3 CS,2018,47000,Gasoline,453.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Black,None reported,Yes,649999
13385,13385,Mercedes-Benz,AMG GLE AMG GLE 63 S-Model 4MATIC,2018,2800,Gasoline,577.0HP 5.5L 8 Cylinder Engine Gasoline Fuel,7-Speed A/T,White,Black,None reported,Yes,1599000
42779,42779,Lamborghini,570S Spider,2018,17761,Gasoline,5.2L V10 40V GDI DOHC,7-Speed Automatic with Auto-Shift,Rosso Corsa,White,None reported,Yes,1950995
19606,19606,Toyota,Tacoma TRD Pro,2018,40698,Gasoline,3.5L V6 24V PDI DOHC,6-Speed,Black,Black,None reported,Yes,1950995