In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("car_prices.csv")
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [5]:
df["price"].cummax()

0          11000
1          11000
2          15000
3          63500
4          63500
          ...
54268    2954083
54269    2954083
54270    2954083
54271    2954083
54272    2954083
Name: price, Length: 54273, dtype: int64

In [11]:
df["brand"].value_counts(sort= True)

brand
BMW              7369
Ford             6706
Mercedes-Benz    5087
Chevrolet        4424
Audi             2922
Porsche          2627
Toyota           2315
Lexus            2257
Jeep             2247
Land             1995
Cadillac         1565
Nissan           1252
GMC              1076
Dodge            1011
RAM               966
INFINITI          957
Lincoln           767
Mazda             748
Subaru            739
Hyundai           694
Jaguar            661
Volkswagen        628
Honda             624
Acura             580
Kia               526
Volvo             452
MINI              364
Maserati          293
Bentley           284
Chrysler          258
Genesis           249
Buick             228
Mitsubishi        182
Hummer            176
Pontiac           149
Alfa              144
Rolls-Royce       142
Lamborghini       122
Tesla             110
Ferrari            87
Saturn             58
Scion              53
Aston              50
McLaren            43
Rivian             27
Mercury            20
FIAT               16
Lotus              12
Suzuki              4
Maybach             3
Lucid               2
Plymouth            1
Bugatti             1
Name: count, dtype: int64

In [12]:
df["brand"].value_counts(normalize= True)

brand
BMW              0.135777
Ford             0.123561
Mercedes-Benz    0.093730
Chevrolet        0.081514
Audi             0.053839
Porsche          0.048403
Toyota           0.042655
Lexus            0.041586
Jeep             0.041402
Land             0.036759
Cadillac         0.028836
Nissan           0.023069
GMC              0.019826
Dodge            0.018628
RAM              0.017799
INFINITI         0.017633
Lincoln          0.014132
Mazda            0.013782
Subaru           0.013616
Hyundai          0.012787
Jaguar           0.012179
Volkswagen       0.011571
Honda            0.011497
Acura            0.010687
Kia              0.009692
Volvo            0.008328
MINI             0.006707
Maserati         0.005399
Bentley          0.005233
Chrysler         0.004754
Genesis          0.004588
Buick            0.004201
Mitsubishi       0.003353
Hummer           0.003243
Pontiac          0.002745
Alfa             0.002653
Rolls-Royce      0.002616
Lamborghini      0.002248
Tesla            0.002027
Ferrari          0.001603
Saturn           0.001069
Scion            0.000977
Aston            0.000921
McLaren          0.000792
Rivian           0.000497
Mercury          0.000369
FIAT             0.000295
Lotus            0.000221
Suzuki           0.000074
Maybach          0.000055
Lucid            0.000037
Plymouth         0.000018
Bugatti          0.000018
Name: proportion, dtype: float64

In [19]:
df.groupby("brand")["price"].agg([min, max, sum])

C:\Users\Asus\AppData\Local\Temp\ipykernel_9304\1524371124.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("brand")["price"].agg([min, max, sum])
C:\Users\Asus\AppData\Local\Temp\ipykernel_9304\1524371124.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("brand")["price"].agg([min, max, sum])
C:\Users\Asus\AppData\Local\Temp\ipykernel_9304\1524371124.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df.groupby("brand")["price"].agg([min, max, sum])

                   min      max        sum
brand
Acura             2500  2954083   16181738
Alfa              6399   399950    6582563
Aston             5500   489995    5894291
Audi              2000  2954083  108380978
BMW               2300   749950  296794061
Bentley           2899   749950   29880149
Bugatti        1950995  1950995    1950995
Buick             2800   274900    6314060
Cadillac          2800   695000   57241194
Chevrolet         2000  2954083  197978910
Chrysler          2500   749950    5035818
Dodge             2500   695000   29256375
FIAT              8500    20000     226942
Ferrari          10500   599000   13781177
Ford              2000   749950  255861148
GMC               2899  2954083   44730340
Genesis           5230   749950   12814138
Honda             2000   324995   11586991
Hummer            2300  2954083    5381902
Hyundai           2000   144940   13138481
INFINITI          3499   491836   28417236
Jaguar            2000   695000   23029507
Jeep              2000  1950995   68990415
Kia               2990   239995   15300058
Lamborghini       3000  1950995   17662411
Land              2500   649999   95189960
Lexus             2300   649999   69257041
Lincoln           2300   491836   21271685
Lotus            12499    69250     461479
Lucid            68420    99950     168370
MINI              3200   243900    5844335
Maserati          4700   489995   16663702
Maybach          52500    64250     181000
Mazda             2000   399950   18119013
McLaren          25950   349950    4694515
Mercedes-Benz     2300  2954083  239567377
Mercury           4500    30000     291236
Mitsubishi        2300    98900    2445087
Nissan            2500   488880   29890627
Plymouth          3850     3850       3850
Pontiac           2300   209995    2611383
Porsche           2000  2954083  167450641
RAM               2500  2954083   43591903
Rivian           17900   159000    2146387
Rolls-Royce      17816   749950   18653842
Saturn            2300    42000     796537
Scion             4300   119900     685795
Subaru            2300   489995   16631846
Suzuki            6499    17900      44399
Tesla             8800   267950    5396233
Toyota            2300  2954083   67320191
Volkswagen        2900   399950   14194694
Volvo             2900   226000   12517569

In [21]:
df.groupby(["brand", "milage"])["price"].mean()

brand  milage
Acura  1025       53900.000000
       1067      145000.000000
       1500        4900.000000
       1798       42745.000000
       2108       77900.000000
                     ...
Volvo  207000     13500.000000
       208321     34346.666667
       208864     14625.000000
       220000     13666.333333
       257700     18566.666667
Name: price, Length: 17993, dtype: float64

In [22]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [25]:
df.groupby(["model", "brand"])["price"].mean()

model                   brand
124 Spider Abarth       BMW       24000.000000
                        FIAT      17250.000000
128 i                   BMW       21421.428571
135 i                   BMW       15108.968254
135 is                  BMW       27124.375000
                                      ...
tC Anniversary Edition  Toyota    15450.000000
tC Base                 Audi       6500.000000
                        Scion     10884.857143
tC Release Series 6.0   Scion     10149.500000
xB Base                 Scion     17545.000000
Name: price, Length: 2465, dtype: float64

In [26]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [ ]:
df.pivot_table(values= "model_year", index= "brand", aggfunc= np.median)

C:\Users\Asus\AppData\Local\Temp\ipykernel_9304\2689908297.py:1: FutureWarning: The provided callable <function median at 0x000002022E723A60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.pivot_table(values= "model_year", index= "brand", aggfunc= np.median)

               model_year
brand
Acura              2013.0
Alfa               2019.0
Aston              2019.0
Audi               2016.0
BMW                2016.0
Bentley            2019.0
Bugatti            2011.0
Buick              2017.0
Cadillac           2016.0
Chevrolet          2017.0
Chrysler           2011.0
Dodge              2011.0
FIAT               2015.0
Ferrari            2020.0
Ford               2018.0
GMC                2017.0
Genesis            2021.0
Honda              2012.0
Hummer             2006.0
Hyundai            2014.0
INFINITI           2016.0
Jaguar             2015.0
Jeep               2016.0
Kia                2019.0
Lamborghini        2020.0
Land               2018.0
Lexus              2015.0
Lincoln            2016.0
Lotus              2010.5
Lucid              2022.0
MINI               2010.0
Maserati           2018.0
Maybach            2006.0
Mazda              2016.0
McLaren            2018.0
Mercedes-Benz      2016.0
Mercury            2003.0
Mitsubishi         2008.0
Nissan             2012.0
Plymouth           2001.0
Pontiac            2006.0
Porsche            2016.0
RAM                2019.0
Rivian             2023.0
Rolls-Royce        2017.0
Saturn             2008.0
Scion              2013.0
Subaru             2015.0
Suzuki             2011.5
Tesla              2020.0
Toyota             2014.0
Volkswagen         2016.0
Volvo              2017.0

In [41]:
df.pivot_table(values= "model_year", index= "brand", aggfunc= np.max)

C:\Users\Asus\AppData\Local\Temp\ipykernel_9304\4104922458.py:1: FutureWarning: The provided callable <function max at 0x000002022E5CA3E0> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(values= "model_year", index= "brand", aggfunc= np.max)

               model_year
brand
Acura                2023
Alfa                 2023
Aston                2023
Audi                 2023
BMW                  2024
Bentley              2023
Bugatti              2011
Buick                2023
Cadillac             2024
Chevrolet            2023
Chrysler             2023
Dodge                2023
FIAT                 2017
Ferrari              2023
Ford                 2024
GMC                  2024
Genesis              2023
Honda                2023
Hummer               2021
Hyundai              2023
INFINITI             2023
Jaguar               2023
Jeep                 2023
Kia                  2023
Lamborghini          2023
Land                 2023
Lexus                2024
Lincoln              2022
Lotus                2023
Lucid                2022
MINI                 2022
Maserati             2024
Maybach              2017
Mazda                2024
McLaren              2022
Mercedes-Benz        2023
Mercury              2006
Mitsubishi           2022
Nissan               2023
Plymouth             2001
Pontiac              2020
Porsche              2024
RAM                  2023
Rivian               2023
Rolls-Royce          2023
Saturn               2020
Scion                2016
Subaru               2023
Suzuki               2014
Tesla                2023
Toyota               2024
Volkswagen           2023
Volvo                2023

In [42]:
df.pivot_table(values= "model_year", index= "brand", aggfunc= [np.mean, np.median])

C:\Users\Asus\AppData\Local\Temp\ipykernel_9304\553717487.py:1: FutureWarning: The provided callable <function mean at 0x000002022E5CADE0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(values= "model_year", index= "brand", aggfunc= [np.mean, np.median])
C:\Users\Asus\AppData\Local\Temp\ipykernel_9304\553717487.py:1: FutureWarning: The provided callable <function median at 0x000002022E723A60> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.pivot_table(values= "model_year", index= "brand", aggfunc= [np.mean, np.median])

                      mean     median
                model_year model_year
brand
Acura          2012.846552     2013.0
Alfa           2018.659722     2019.0
Aston          2016.260000     2019.0
Audi           2015.880903     2016.0
BMW            2015.759669     2016.0
Bentley        2016.954225     2019.0
Bugatti        2011.000000     2011.0
Buick          2015.934211     2017.0
Cadillac       2015.572524     2016.0
Chevrolet      2015.038879     2017.0
Chrysler       2010.674419     2011.0
Dodge          2011.548961     2011.0
FIAT           2015.062500     2015.0
Ferrari        2019.126437     2020.0
Ford           2016.101551     2018.0
GMC            2016.656134     2017.0
Genesis        2019.907631     2021.0
Honda          2011.788462     2012.0
Hummer         2006.437500     2006.0
Hyundai        2013.936599     2014.0
INFINITI       2015.159875     2016.0
Jaguar         2012.456884     2015.0
Jeep           2013.963507     2016.0
Kia            2017.496198     2019.0
Lamborghini    2017.024590     2020.0
Land           2017.336341     2018.0
Lexus          2014.079309     2015.0
Lincoln        2014.299870     2016.0
Lotus          2010.583333     2010.5
Lucid          2022.000000     2022.0
MINI           2010.980769     2010.0
Maserati       2016.641638     2018.0
Maybach        2009.000000     2006.0
Mazda          2013.827540     2016.0
McLaren        2018.488372     2018.0
Mercedes-Benz  2015.690387     2016.0
Mercury        1999.900000     2003.0
Mitsubishi     2009.098901     2008.0
Nissan         2012.211661     2012.0
Plymouth       2001.000000     2001.0
Pontiac        2005.114094     2006.0
Porsche        2015.183479     2016.0
RAM            2018.600414     2019.0
Rivian         2022.444444     2023.0
Rolls-Royce    2017.267606     2017.0
Saturn         2009.000000     2008.0
Scion          2011.679245     2013.0
Subaru         2014.313938     2015.0
Suzuki         2010.500000     2011.5
Tesla          2019.418182     2020.0
Toyota         2012.933045     2014.0
Volkswagen     2014.270701     2016.0
Volvo          2014.849558     2017.0

In [46]:
df.groupby(["brand", "model"])["price"].mean()
df.pivot_table(values= "model_year", index= "int_col", columns="price")

price,2000,2300,2500,2800,2899,2900,2990,3000,3200,3499,...,489995,491836,599000,599995,649999,695000,749950,1599000,1950995,2954083
int_col,,,,,,,,,,,,,,,,,,,,,
AMG Black,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adrenaline Red,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Almond Beige,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amber,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whisper Beige,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
White,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,NaN,NaN,...,NaN,NaN,2015.5,NaN,NaN,NaN,NaN,2020.0,2014.5,NaN
White / Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yellow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
,2012.0,NaN,2004.0,NaN,NaN,NaN,NaN,2005.0,NaN,2005.0,...,2022.0,NaN,2018.0,2021.0,NaN,2023.0,2021.0,NaN,NaN,NaN

In [49]:
df.groupby(["brand", "model"])["price"].mean()
df.pivot_table(values= "model_year", index= "int_col", columns="price", fill_value= 0)

price,2000,2300,2500,2800,2899,2900,2990,3000,3200,3499,...,489995,491836,599000,599995,649999,695000,749950,1599000,1950995,2954083
int_col,,,,,,,,,,,,,,,,,,,,,
AMG Black,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Adrenaline Red,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Almond Beige,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Amber,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ash,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Whisper Beige,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
White,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2012.0,0.0,0.0,...,0.0,0.0,2015.5,0.0,0.0,0.0,0.0,2020.0,2014.5,0.0
White / Brown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Yellow,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
,2012.0,0.0,2004.0,0.0,0.0,0.0,0.0,2005.0,0.0,2005.0,...,2022.0,0.0,2018.0,2021.0,0.0,2023.0,2021.0,0.0,0.0,0.0

In [50]:
df.groupby(["brand", "model"])["price"].mean()
df.pivot_table(values= "model_year", index= "int_col", columns="price", fill_value= 0, margins= True)

price,2000,2300,2500,2800,2899,2900,2990,3000,3200,3499,...,491836,599000,599995,649999,695000,749950,1599000,1950995,2954083,All
int_col,,,,,,,,,,,,,,,,,,,,,
AMG Black,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,...,0.0,0.000000,0.000,0.0,0.000000,0.0,0.00,0.000000,0.000000,2019.000000
Adrenaline Red,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,...,0.0,0.000000,0.000,0.0,0.000000,0.0,0.00,0.000000,0.000000,2021.294118
Almond Beige,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,...,0.0,0.000000,0.000,0.0,0.000000,0.0,0.00,0.000000,0.000000,2020.000000
Amber,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,...,0.0,0.000000,0.000,0.0,0.000000,0.0,0.00,0.000000,0.000000,2018.000000
Ash,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,...,0.0,0.000000,0.000,0.0,0.000000,0.0,0.00,0.000000,0.000000,2019.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
White,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,2012.000000,0.000000,0.00,...,0.0,2015.500000,0.000,0.0,0.000000,0.0,2020.00,2014.500000,0.000000,2016.837031
White / Brown,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,...,0.0,0.000000,0.000,0.0,0.000000,0.0,0.00,0.000000,0.000000,2020.045455
Yellow,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.00,...,0.0,0.000000,0.000,0.0,0.000000,0.0,0.00,0.000000,0.000000,2008.142857
,2012.000000,0.000000,2004.000000,0.000000,0.0,0.000000,0.0,2005.000000,0.000000,2005.00,...,0.0,2018.000000,2021.000,0.0,2023.000000,2021.0,0.00,0.000000,0.000000,2013.546411
All,2004.923077,2004.666667,2005.134615,2006.133333,2010.0,2005.769231,2013.4,2007.433333,2007.513514,2008.15,...,2018.5,2019.916667,2019.125,2020.0,2019.705882,2019.8,2018.75,2012.222222,2009.466667,2015.091979