In [1]:
import pandas as pd 
import numpy as np

In [4]:
df = pd.read_csv("car_prices.csv")
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [48]:
df[df.isnull()].sum()

id              0.0
brand             0
model             0
model_year      0.0
milage          0.0
fuel_type         0
engine          0.0
transmission      0
ext_col           0
int_col           0
accident          0
clean_title       0
price           0.0
dtype: object

In [54]:
# df = pd.read_csv("car_prices.csv")
df["milage"] = df["milage"].fillna(df["milage"].mean())
df

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,54268,BMW,X6 xDrive50i,2017,29000,Gasoline,445.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,8-Speed A/T,White,Brown,None reported,Yes,29000
54269,54269,Audi,A4 2.0T Premium,2015,94634,E85 Flex Fuel,220.0HP 2.0L 4 Cylinder Engine Flex Fuel Capab...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,6500
54270,54270,Porsche,Cayenne S,2013,40989,Gasoline,420.0HP 3.6L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,White,Black,At least 1 accident or damage reported,Yes,18950
54271,54271,Porsche,911 Carrera 4 GTS,2023,1518,Gasoline,4.0L H6 24V GDI DOHC,8-Speed Automatic with Auto-Shift,Beige,Brown,None reported,Yes,194965
54272,54272,Audi,A5 Sportback S line Premium Plus,2021,35000,Hybrid,261.0HP 2.0L 4 Cylinder Engine Gasoline/Mild E...,8-Speed A/T,Black,Black,None reported,Yes,37499

In [ ]:
df["engine"] = pd.to_numeric(df["engine"], errors= "coerce")
df["engine"] = df["engine"].fillna(df["engine"].median()) #########
df

c:\Users\Asus\AppData\Local\Programs\Python\Python313\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1215: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,NaN,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,NaN,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,NaN,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,NaN,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,NaN,A/T,White,Black,None reported,Yes,7850
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,54268,BMW,X6 xDrive50i,2017,29000,Gasoline,NaN,8-Speed A/T,White,Brown,None reported,Yes,29000
54269,54269,Audi,A4 2.0T Premium,2015,94634,E85 Flex Fuel,NaN,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,6500
54270,54270,Porsche,Cayenne S,2013,40989,Gasoline,NaN,Transmission w/Dual Shift Mode,White,Black,At least 1 accident or damage reported,Yes,18950
54271,54271,Porsche,911 Carrera 4 GTS,2023,1518,Gasoline,NaN,8-Speed Automatic with Auto-Shift,Beige,Brown,None reported,Yes,194965
54272,54272,Audi,A5 Sportback S line Premium Plus,2021,35000,Hybrid,NaN,8-Speed A/T,Black,Black,None reported,Yes,37499

In [61]:
df[df.isnull()] = 0
df

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,0.0,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,0.0,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,0.0,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,0.0,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,0.0,A/T,White,Black,None reported,Yes,7850
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54268,54268,BMW,X6 xDrive50i,2017,29000,Gasoline,0.0,8-Speed A/T,White,Brown,None reported,Yes,29000
54269,54269,Audi,A4 2.0T Premium,2015,94634,E85 Flex Fuel,0.0,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,6500
54270,54270,Porsche,Cayenne S,2013,40989,Gasoline,0.0,Transmission w/Dual Shift Mode,White,Black,At least 1 accident or damage reported,Yes,18950
54271,54271,Porsche,911 Carrera 4 GTS,2023,1518,Gasoline,0.0,8-Speed Automatic with Auto-Shift,Beige,Brown,None reported,Yes,194965
54272,54272,Audi,A5 Sportback S line Premium Plus,2021,35000,Hybrid,0.0,8-Speed A/T,Black,Black,None reported,Yes,37499

In [84]:
df.groupby("brand")["brand"].count()

brand
Acura             580
Alfa              144
Aston              50
Audi             2922
BMW              7369
Bentley           284
Bugatti             1
Buick             228
Cadillac         1565
Chevrolet        4424
Chrysler          258
Dodge            1011
FIAT               16
Ferrari            87
Ford             6706
GMC              1076
Genesis           249
Honda             624
Hummer            176
Hyundai           694
INFINITI          957
Jaguar            661
Jeep             2247
Kia               526
Lamborghini       122
Land             1995
Lexus            2257
Lincoln           767
Lotus              12
Lucid               2
MINI              364
Maserati          293
Maybach             3
Mazda             748
McLaren            43
Mercedes-Benz    5087
Mercury            20
Mitsubishi        182
Nissan           1252
Plymouth            1
Pontiac           149
Porsche          2627
RAM               966
Rivian             27
Rolls-Royce       142
Saturn             58
Scion              53
Subaru            739
Suzuki              4
Tesla             110
Toyota           2315
Volkswagen        628
Volvo             452
Name: brand, dtype: int64

In [80]:
df.groupby("brand")["price"].mean()

brand
Acura            2.789955e+04
Alfa             4.571224e+04
Aston            1.178858e+05
Audi             3.709137e+04
BMW              4.027603e+04
Bentley          1.052118e+05
Bugatti          1.950995e+06
Buick            2.769325e+04
Cadillac         3.657584e+04
Chevrolet        4.475111e+04
Chrysler         1.951867e+04
Dodge            2.893806e+04
FIAT             1.418388e+04
Ferrari          1.584043e+05
Ford             3.815406e+04
GMC              4.157095e+04
Genesis          5.146240e+04
Honda            1.856890e+04
Hummer           3.057899e+04
Hyundai          1.893153e+04
INFINITI         2.969408e+04
Jaguar           3.484040e+04
Jeep             3.070334e+04
Kia              2.908756e+04
Lamborghini      1.447739e+05
Land             4.771427e+04
Lexus            3.068544e+04
Lincoln          2.773362e+04
Lotus            3.845658e+04
Lucid            8.418500e+04
MINI             1.605587e+04
Maserati         5.687270e+04
Maybach          6.033333e+04
Mazda            2.422328e+04
McLaren          1.091748e+05
Mercedes-Benz    4.709404e+04
Mercury          1.456180e+04
Mitsubishi       1.343454e+04
Nissan           2.387430e+04
Plymouth         3.850000e+03
Pontiac          1.752606e+04
Porsche          6.374215e+04
RAM              4.512619e+04
Rivian           7.949581e+04
Rolls-Royce      1.313651e+05
Saturn           1.373340e+04
Scion            1.293953e+04
Subaru           2.250588e+04
Suzuki           1.109975e+04
Tesla            4.905666e+04
Toyota           2.908000e+04
Volkswagen       2.260302e+04
Volvo            2.769374e+04
Name: price, dtype: float64

In [93]:
df.groupby("fuel_type")["price"].agg([min, max])

C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\362820983.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby("fuel_type")["price"].agg([min, max])
C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\362820983.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby("fuel_type")["price"].agg([min, max])

                 min      max
fuel_type
Diesel          2300  2954083
E85 Flex Fuel   2000   417500
Gasoline        2000  2954083
Hybrid          2300   749950
Plug-In Hybrid  4900   159000
not supported   7500    20900
–               2500   488880

In [98]:
df.groupby("brand")[["brand", "fuel_type"]].count()

               brand  fuel_type
brand
Acura            580        580
Alfa             144        144
Aston             50         50
Audi            2922       2922
BMW             7369       7369
Bentley          284        284
Bugatti            1          1
Buick            228        228
Cadillac        1565       1565
Chevrolet       4424       4424
Chrysler         258        258
Dodge           1011       1011
FIAT              16         16
Ferrari           87         87
Ford            6706       6706
GMC             1076       1076
Genesis          249        249
Honda            624        624
Hummer           176        176
Hyundai          694        694
INFINITI         957        957
Jaguar           661        661
Jeep            2247       2247
Kia              526        526
Lamborghini      122        122
Land            1995       1995
Lexus           2257       2257
Lincoln          767        767
Lotus             12         12
Lucid              2          2
MINI             364        364
Maserati         293        293
Maybach            3          3
Mazda            748        748
McLaren           43         43
Mercedes-Benz   5087       5087
Mercury           20         20
Mitsubishi       182        182
Nissan          1252       1252
Plymouth           1          1
Pontiac          149        149
Porsche         2627       2627
RAM              966        966
Rivian            27         27
Rolls-Royce      142        142
Saturn            58         58
Scion             53         53
Subaru           739        739
Suzuki             4          4
Tesla            110        110
Toyota          2315       2315
Volkswagen       628        628
Volvo            452        452

In [100]:
df.groupby("model_year")[["milage", "engine"]].mean()

                   milage  engine
model_year
1974         11333.800000     0.0
1992        112132.583333     0.0
1993        107937.893617     0.0
1994         89244.027027     0.0
1995         93654.020833     0.0
1996        125674.526316     0.0
1997        137601.625000     0.0
1998        117650.581197     0.0
1999        129730.920455     0.0
2000        129348.460526     0.0
2001        114875.388286     0.0
2002        118265.792839     0.0
2003        111000.156194     0.0
2004        136122.748993     0.0
2005        126024.947260     0.0
2006        121021.563006     0.0
2007        118167.381313     0.0
2008        118272.169443     0.0
2009        109460.923703     0.0
2010        109742.940981     0.0
2011        115467.077398     0.0
2012        103772.236554     0.0
2013         92472.565661     0.0
2014         89056.135328     0.0
2015         84013.967429     0.0
2016         77215.359472     0.0
2017         68726.425037     0.0
2018         54032.467267     0.0
2019         47497.877429     0.0
2020         38273.504237     0.0
2021         30632.843957     0.0
2022         17912.129618     0.0
2023         10561.694537     0.0
2024         10150.666667     0.0

In [101]:
df.pivot_table(index= "brand", values= "price", aggfunc=[np.mean, np.median, np.std])

C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\3864651908.py:1: FutureWarning: The provided callable <function mean at 0x000001DE271DAE80> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(index= "brand", values= "price", aggfunc=[np.mean, np.median, np.std])
C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\3864651908.py:1: FutureWarning: The provided callable <function median at 0x000001DE27333B00> is currently using DataFrameGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df.pivot_table(index= "brand", values= "price", aggfunc=[np.mean, np.median, np.std])
C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\3864651908.py:1: FutureWarning: The provided callable <function std at 0x000001DE271DAFC0> is currently using DataFrameGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df.pivot_table(index= "brand", values= "price", aggfunc=[np.mean, np.median, np.std])

                       mean     median            std
                      price      price          price
brand
Acura          2.789955e+04    16185.0  124508.565199
Alfa           4.571224e+04    35720.0   46892.844073
Aston          1.178858e+05    71497.5  119363.435061
Audi           3.709137e+04    27000.0   84882.788021
BMW            4.027603e+04    30000.0   39513.728142
Bentley        1.052118e+05    72972.5  106575.078976
Bugatti        1.950995e+06  1950995.0            NaN
Buick          2.769325e+04    23052.5   28621.699198
Cadillac       3.657584e+04    26500.0   42630.171944
Chevrolet      4.475111e+04    32000.0  119680.261927
Chrysler       1.951867e+04    12500.0   48785.063055
Dodge          2.893806e+04    16000.0   44404.009674
FIAT           1.418388e+04    13700.0    3756.430644
Ferrari        1.584043e+05   104500.0  129116.676660
Ford           3.815406e+04    31000.0   43184.354169
GMC            4.157095e+04    30000.0  130741.883802
Genesis        5.146240e+04    39999.0   61655.605154
Honda          1.856890e+04    15400.0   17794.776945
Hummer         3.057899e+04    12374.5  221872.113834
Hyundai        1.893153e+04    15900.0   13236.735106
INFINITI       2.969408e+04    22000.0   30224.831383
Jaguar         3.484040e+04    26000.0   43791.121017
Jeep           3.070334e+04    24995.0   52910.324643
Kia            2.908756e+04    23800.0   24952.879198
Lamborghini    1.447739e+05    95450.0  203171.236701
Land           4.771427e+04    36000.0   48113.090286
Lexus          3.068544e+04    23999.0   37310.026754
Lincoln        2.773362e+04    19500.0   29712.242263
Lotus          3.845658e+04    36250.0   20927.569422
Lucid          8.418500e+04    84185.0   22295.076811
MINI           1.605587e+04    11994.5   17272.126816
Maserati       5.687270e+04    36999.0   76206.875304
Maybach        6.033333e+04    64250.0    6783.865663
Mazda          2.422328e+04    19995.5   26994.087393
McLaren        1.091748e+05    75000.0   89749.158030
Mercedes-Benz  4.709404e+04    33490.0   80657.356641
Mercury        1.456180e+04    14500.0    7000.544231
Mitsubishi     1.343454e+04     9575.0   12365.992384
Nissan         2.387430e+04    15000.0   33165.810291
Plymouth       3.850000e+03     3850.0            NaN
Pontiac        1.752606e+04    13800.0   20188.677482
Porsche        6.374215e+04    42000.0  104334.264390
RAM            4.512619e+04    39500.0   98598.311762
Rivian         7.949581e+04    93500.0   32251.808315
Rolls-Royce    1.313651e+05    75500.0  155783.273851
Saturn         1.373340e+04    10000.0   10067.528631
Scion          1.293953e+04     9495.0   15735.017780
Subaru         2.250588e+04    18000.0   28334.374800
Suzuki         1.109975e+04    10000.0    5093.433706
Tesla          4.905666e+04    43700.0   33318.716217
Toyota         2.908000e+04    19500.0   77564.426649
Volkswagen     2.260302e+04    18000.0   25324.387881
Volvo          2.769374e+04    23500.0   24457.830831

In [102]:
df.groupby(["brand", "model_year"])[["price", "milage"]].mean()

                         price         milage
brand model_year
Acura 1993         6000.000000   82107.500000
      1995        12375.000000   96250.000000
      1998         6749.900000  137448.600000
      1999         8245.000000  121075.666667
      2001         8498.800000   87629.200000
...                        ...            ...
Volvo 2019        30300.351852   48386.814815
      2020        52220.268293   36488.731707
      2021        37817.000000   28484.600000
      2022        45412.043478   25061.391304
      2023        72000.000000   14918.000000

[1042 rows x 2 columns]

In [104]:
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,0.0,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,0.0,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,0.0,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,0.0,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,0.0,A/T,White,Black,None reported,Yes,7850

In [120]:
df.pivot_table(index = "fuel_type", values= "price", aggfunc= np.max).head(3)

C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\3135493820.py:1: FutureWarning: The provided callable <function max at 0x000001DE271DA480> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.pivot_table(index = "fuel_type", values= "price", aggfunc= np.max).head(3)

                 price
fuel_type
Diesel         2954083
E85 Flex Fuel   417500
Gasoline       2954083

In [121]:
df.pivot_table(index = "brand", values= "price", aggfunc= np.min)

C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\1699602132.py:1: FutureWarning: The provided callable <function min at 0x000001DE271DA5C0> is currently using DataFrameGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.pivot_table(index = "brand", values= "price", aggfunc= np.min)

                 price
brand
Acura             2500
Alfa              6399
Aston             5500
Audi              2000
BMW               2300
Bentley           2899
Bugatti        1950995
Buick             2800
Cadillac          2800
Chevrolet         2000
Chrysler          2500
Dodge             2500
FIAT              8500
Ferrari          10500
Ford              2000
GMC               2899
Genesis           5230
Honda             2000
Hummer            2300
Hyundai           2000
INFINITI          3499
Jaguar            2000
Jeep              2000
Kia               2990
Lamborghini       3000
Land              2500
Lexus             2300
Lincoln           2300
Lotus            12499
Lucid            68420
MINI              3200
Maserati          4700
Maybach          52500
Mazda             2000
McLaren          25950
Mercedes-Benz     2300
Mercury           4500
Mitsubishi        2300
Nissan            2500
Plymouth          3850
Pontiac           2300
Porsche           2000
RAM               2500
Rivian           17900
Rolls-Royce      17816
Saturn            2300
Scion             4300
Subaru            2300
Suzuki            6499
Tesla             8800
Toyota            2300
Volkswagen        2900
Volvo             2900

In [130]:
df = pd.read_csv("car_prices.csv")
df.head()

,id,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,0,Ford,F-150 Lariat,2018,74349,Gasoline,375.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,10-Speed A/T,Blue,Gray,None reported,Yes,11000
1,1,BMW,335 i,2007,80000,Gasoline,300.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,6-Speed M/T,Black,Black,None reported,Yes,8250
2,2,Jaguar,XF Luxury,2009,91491,Gasoline,300.0HP 4.2L 8 Cylinder Engine Gasoline Fuel,6-Speed A/T,Purple,Beige,None reported,Yes,15000
3,3,BMW,X7 xDrive40i,2022,2437,Hybrid,335.0HP 3.0L Straight 6 Cylinder Engine Gasoli...,Transmission w/Dual Shift Mode,Gray,Brown,None reported,Yes,63500
4,4,Pontiac,Firebird Base,2001,111000,Gasoline,200.0HP 3.8L V6 Cylinder Engine Gasoline Fuel,A/T,White,Black,None reported,Yes,7850

In [131]:
df["engineV"] = df["engine"].str.extract(r"(\d+\.?\d*)L").astype(float)
df["price_per_engine"] = df["price"] / df["engineV"]
df.pivot_table(index="brand", values= "price", aggfunc= np.mean)

C:\Users\Asus\AppData\Local\Temp\ipykernel_11756\2132039766.py:3: FutureWarning: The provided callable <function mean at 0x000001DE271DAE80> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.pivot_table(index="brand", values= "price", aggfunc= np.mean)

                      price
brand
Acura          2.789955e+04
Alfa           4.571224e+04
Aston          1.178858e+05
Audi           3.709137e+04
BMW            4.027603e+04
Bentley        1.052118e+05
Bugatti        1.950995e+06
Buick          2.769325e+04
Cadillac       3.657584e+04
Chevrolet      4.475111e+04
Chrysler       1.951867e+04
Dodge          2.893806e+04
FIAT           1.418388e+04
Ferrari        1.584043e+05
Ford           3.815406e+04
GMC            4.157095e+04
Genesis        5.146240e+04
Honda          1.856890e+04
Hummer         3.057899e+04
Hyundai        1.893153e+04
INFINITI       2.969408e+04
Jaguar         3.484040e+04
Jeep           3.070334e+04
Kia            2.908756e+04
Lamborghini    1.447739e+05
Land           4.771427e+04
Lexus          3.068544e+04
Lincoln        2.773362e+04
Lotus          3.845658e+04
Lucid          8.418500e+04
MINI           1.605587e+04
Maserati       5.687270e+04
Maybach        6.033333e+04
Mazda          2.422328e+04
McLaren        1.091748e+05
Mercedes-Benz  4.709404e+04
Mercury        1.456180e+04
Mitsubishi     1.343454e+04
Nissan         2.387430e+04
Plymouth       3.850000e+03
Pontiac        1.752606e+04
Porsche        6.374215e+04
RAM            4.512619e+04
Rivian         7.949581e+04
Rolls-Royce    1.313651e+05
Saturn         1.373340e+04
Scion          1.293953e+04
Subaru         2.250588e+04
Suzuki         1.109975e+04
Tesla          4.905666e+04
Toyota         2.908000e+04
Volkswagen     2.260302e+04
Volvo          2.769374e+04

In [147]:
df["engineV"] = df["engine"].str.extract(r"(\d+\.?\d*)L").astype(float)
df.groupby(["brand", "model_year", "fuel_type"]).agg(
    avg_price = ("price", "mean"),
    max_engine = ("engineV", "max"),
    median_milage = ("milage", "median"),
    total_cars = ("price", "count")
    
)

                                    avg_price  max_engine  median_milage  \
brand model_year fuel_type
Acura 1993       –                6000.000000         NaN        82107.5
      1995       Gasoline        22000.000000         1.8        16000.0
                 –                9166.666667         NaN       123000.0
      1998       Gasoline         6749.900000         6.0       127301.0
      1999       Gasoline         8245.000000         3.5       120000.0
...                                       ...         ...            ...
Volvo 2022       Gasoline        61016.500000         2.0        23304.0
                 Hybrid          38272.500000         2.0        11465.5
                 Plug-In Hybrid  40406.769231         2.0        19352.0
      2023       Hybrid          69000.000000         NaN         9500.0
                 Plug-In Hybrid  73000.000000         2.0         4500.0

                                 total_cars
brand model_year fuel_type
Acura 1993       –                        2
      1995       Gasoline                 1
                 –                        3
      1998       Gasoline                10
      1999       Gasoline                 6
...                                     ...
Volvo 2022       Gasoline                 6
                 Hybrid                   4
                 Plug-In Hybrid          13
      2023       Hybrid                   1
                 Plug-In Hybrid           3

[1700 rows x 4 columns]